## 1. What is a Series?

- A 1D labeled array in pandas (similar to NumPy array but with index labels).

- Can hold different data types (int, float, string, object, etc.).

- Very useful for working with columns or 1D data in ML preprocessing.

In [1]:
import pandas as pd
import numpy as np

## 2. Creating Series

In [2]:
# From a Python list
pd.Series([10, 20, 30, 40])

# With custom index
pd.Series([10, 20, 30], index=["Math", "Science", "History"])

# From a dictionary (keys = index, values = data)
pd.Series({"Math": 90, "Science": 80, "History": 70})

# From a NumPy array
pd.Series(np.array([1, 2, 3, 4]))

# From a scalar value
pd.Series(5, index=[1, 2, 3, 4])   # Every index will have value 5

1    5
2    5
3    5
4    5
dtype: int64

## 3. Attributes

In [3]:
marks = pd.Series({"Math":90, "Science":80, "History":70})

marks.shape     # (3,) â†’ size of Series
marks.size      # 3 â†’ number of elements
marks.ndim      # 1 â†’ always 1D
marks.values    # array([90, 80, 70])
marks.index     # Index(['Math', 'Science', 'History'], dtype='object')

Index(['Math', 'Science', 'History'], dtype='object')

## 4. Accessing Elements

In [4]:
# By label
marks["Math"]  

# By multiple labels
marks[["Math", "Science"]]

# By position
marks.iloc[0]      # 90
marks.iloc[0:2]    # first two values

# Boolean indexing
marks[marks > 75]   # filter values > 75

Math       90
Science    80
dtype: int64

## 5. Modifying & Deleting

In [5]:
# Update value
marks["Math"] = 95

# Delete
marks.drop("History")      # returns new Series
marks.drop("History", inplace=True)   # modifies original

## 6. Arithmetic Operations

- Vectorized operations (work element-wise):

In [6]:
marks + 10         # add 10 to each value
marks * 2          # multiply each value by 2
np.log(marks)      # NumPy functions also work

Math       4.553877
Science    4.382027
dtype: float64

## 7. Handling Missing Data (Critical for ML ðŸš¨)

In [7]:
data = pd.Series([1, np.nan, 3, None, 5])

data.isnull()        # True for NaN/None
data.notnull()       # False for NaN/None

data.fillna(0)       # replace missing with 0
data.fillna(data.mean())   # replace with mean

data.dropna()        # remove missing values

0    1.0
2    3.0
4    5.0
dtype: float64

## 8. Statistical & Descriptive Methods

In [8]:
marks.sum()          # 245
marks.mean()         # average
marks.max()          # max
marks.min()          # min
marks.describe()     # summary statistics
marks.value_counts() # frequency of unique values
marks.unique()       # unique values
marks.nunique()      # count of unique values

2

## 9. Sorting & Index Operations

In [9]:
marks.sort_index()      # sort by labels
marks.sort_values()     # sort by values
marks.rename("Scores")  # rename series

Math       95
Science    80
Name: Scores, dtype: int64

## 10. String Operations (Useful for Text Data in ML)

In [10]:
fruits = pd.Series(["apple", "banana", "orange", None])

fruits.str.upper()           # convert to uppercase
fruits.str.contains("an")    # check substring
fruits.str.len()             # string length

0    5.0
1    6.0
2    6.0
3    NaN
dtype: float64

## 11. Apply & Map (Custom Functions)

In [11]:
marks.apply(lambda x: x/10)   # scale values
marks.map({90: "A", 80: "B"}) # map values

Math       NaN
Science      B
dtype: object