In [2]:
import pandas as pd
import numpy as np

- #### Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types.

In [5]:
# Sample dataframe
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## Axes :---

In [ ]:
# Understanding Axes
df.sum() # it sums down 0 axis (rows)
df.sum(axis=0) # same as before, sums down 0 axis (cuz axis=0 is default)
df.sum(axis=1) # sums across the 1 axis (columns)

0    12
1    15
2    18
dtype: int64

## Loading Data into DF :---

In [41]:
# Loading data into DF
df = pd.read_csv('username-or-email.csv')

# limit which rows are read when reading in a file 
pd.read_csv('username-or-email.csv', nrows=3) # it will only read first 3 rows
pd.read_csv('username-or-email.csv', skiprows=[1,4]) # it will skip 1st row(i.e. row-index=0) & 4th row(i.e. row-index=3)

# randomly sample a dataframe
duffer = df.sample(frac=0.62, random_state=1) # this sample() randomly picks rows from df, like sufflinf a deck of cards
# And Without random_state=1 we'll get differetn rows everytime but with it we'll get same rows every time
duffer

  Username;Login email;Identifier;First name;Last name
2  johnson81;craig@yourcompany.com;4081;Craig;Joh...
1       grey07;laura@yourcompany.com;2070;Laura;Grey
4         smith79;jamie@example.com;5079;Jamie;Smith