In [1]:
import pandas as pd
import numpy as np

- #### Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types.

In [2]:
# Sample dataframe
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## Axes :---

In [3]:
# Understanding Axes
df.sum() # it sums down 0 axis (rows)
df.sum(axis=0) # same as before, sums down 0 axis (cuz axis=0 is default)
df.sum(axis=1) # sums across the 1 axis (columns)

0    12
1    15
2    18
dtype: int64

## Loading Data into DF :---

In [4]:
# Loading data into DF
df = pd.read_csv('username-or-email.csv')

# limit which rows are read when reading in a file 
pd.read_csv('username-or-email.csv', nrows=3) # it will only read first 3 rows
pd.read_csv('username-or-email.csv', skiprows=[1,4]) # it will skip 1st row(i.e. row-index=0) & 4th row(i.e. row-index=3)

# randomly sample a dataframe
duffer_1 = df.sample(frac=0.62, random_state=1) # it will contain 62% of the rows
print(duffer_1)
# this sample() randomly picks rows from df, like sufflinf a deck of cards
# And Without random_state=1 we'll get differetn rows everytime but with it we'll get same rows every time
duffer_2 = df[~df.index.isin(duffer_1.index)] # it will contain the other 38% of the rows
print(duffer_2)

# changing the maximum number of rows and columns printed
pd.set_option(max_columns,None) # 'None' means 'unlimited'
# default is 60 rows

pd.set_option(max_columns,None)
# default is 60 columns

# Reset options to defaults
pd.reset_option(max_rows)
pd.reset_option(max_columns)

  Username;Login email;Identifier;First name;Last name
2  johnson81;craig@yourcompany.com;4081;Craig;Joh...
1       grey07;laura@yourcompany.com;2070;Laura;Grey
4         smith79;jamie@example.com;5079;Jamie;Smith
  Username;Login email;Identifier;First name;Last name
0     booker12;rachel@example.com;9012;Rachel;Booker
3       jenkins46;mary@example.com;9346;Mary;Jenkins

NameError: name 'max_columns' is not defined

## Create DataFrame :---

In [ ]:
# Creating a dictionary of pandas series
items = {
    'Miku': pd.Series(data=[100,33,181], index=['Watches','shoes','books']),
    'Milan': pd.Series(data=[43,22,90], index=['toys','shoes','bats']),
    'Nikita': pd.Series(data=[90,28,187], index=['makesup-kit','sarees','books'])
}
 
print(type(items)) # <class 'dict'>

# creating a pandas DataFrame by passing it a dictionary of Series
amazon_cart = pd.DataFrame(items)
amazon_cart

<class 'dict'>

              Miku  Milan  Nikita
Watches      100.0    NaN     NaN
bats           NaN   90.0     NaN
books        181.0    NaN   187.0
makesup-kit    NaN    NaN    90.0
sarees         NaN    NaN    28.0
shoes         33.0   22.0     NaN
toys           NaN   43.0     NaN