In [ ]:
import pandas as pd
import numpy as np

- #### Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types.

In [ ]:
# Sample dataframe
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
df

## Axes :---

In [ ]:
# Understanding Axes
df.sum()  # it sums down 0 axis (rows)
df.sum(axis=0)  # same as before, sums down 0 axis (cuz axis=0 is default)
df.sum(axis=1)  # sums across the 1 axis (columns)

## Loading Data into DF :---

In [ ]:
# Loading data into DF
df = pd.read_csv("heart_disease_uci.csv")

# limit which rows are read when reading in a file
pd.read_csv("heart_disease_uci.csv", nrows=3)  # it will only read first 3 rows
pd.read_csv(
    "heart_disease_uci.csv", skiprows=[1, 4]
)  # it will skip 1st row(i.e. row-index=0) & 4th row(i.e. row-index=3)

# randomly sample a dataframe
duffer_1 = df.sample(frac=0.62, random_state=1)  # it will contain 62% of the rows
print(duffer_1)
# this sample() randomly picks rows from df, like sufflinf a deck of cards
# And Without random_state=1 we'll get differetn rows everytime but with it we'll get same rows every time
duffer_2 = df[
    ~df.index.isin(duffer_1.index)
]  # it will contain the other 38% of the rows
print(duffer_2)

# # changing the maximum number of rows and columns printed
# pd.set_option(max_columns, None)  # 'None' means 'unlimited'
# # default is 60 rows

# pd.set_option(max_columns, None)
# # default is 60 columns

# # Reset options to defaults
# pd.reset_option(max_rows)
# pd.reset_option(max_columns)

## Create DataFrame :---

In [ ]:
# Creating a dictionary of pandas series
items = {
    "Miku": pd.Series(data=[100, 33, 181], index=["Watches", "shoes", "books"]),
    "Milan": pd.Series(data=[43, 22, 90], index=["toys", "shoes", "bats"]),
    "Nikita": pd.Series(data=[90, 28, 187], index=["makeup-kit", "sarees", "books"]),
}

print(type(items))  # <class 'dict'>

# creating a pandas DataFrame by passing it a dictionary of Series
amazon_cart = pd.DataFrame(items)

# creating dataframe that only has a subset of the data/colums
shoes_shopping_cart = pd.DataFrame(
    items, columns=["Milan"]
)  # will show everything of 'Milan' column only

# creating a dataframe that only has selected keys
shopping_cart = pd.DataFrame(
    items, index=["toys", "makeup-kit"]
)  # this will show only 'toys' & 'makeup-kit' index/row for all columns

# combining both of the above - i.e. selected keys for selected columns
Miku_Nikita_books_shoes_collection = pd.DataFrame(
    items, columns=["Miku", "Nikita"], index=["books", "shoes"]
)

# Creating DataFrames from a dictionary of lists (arrays)
# In this case, however, all the lists (arrays) in the dictionary must be of the same length

# Creating a dictioonary of lists (arrays)
data = {"Integers": [1, 2, 3], "Floats": [1.2, 3.4, 5.6]}

# Now creating a dataframe using the above lists
df = pd.DataFrame(data)

# creating a DataFrame & providing the row index for each row/key
df = pd.DataFrame(data, index=["nums-1", "nums-2", "nums-3"])

# Creating DataFrames from a list of Python dictionaris
# CReating a list of python dictionaries
items2 = [
    {"t-shirts": 5, "full-shirts": 2, "watches": 3},
    {"bikes": 0, "goggles": 6, "watches": 2},
]

# Creating a DataFrame
store_items2 = pd.DataFrame(items2)


# Creating a DataFrame and providing th row index
store_items2 = pd.DataFrame(items2, index=["store-1", "store-2"])
print(store_items2)

## Create df from Series, dicts :---

In [ ]:
# creaing dictionary from a bunch of Series/data
books = pd.Series(
    data=[
        "half-girlfriend",
        "Of Mice and Men",
        "Romeo and Juliet",
        "The Time Machine",
        "Alice in Wonderland",
    ]
)
authors = pd.Series(
    data=[
        "Chetan Bhagat",
        "John Steinbeck",
        "William Shakespeare",
        " H. G. Wells",
        "Lewis Carroll",
    ]
)

user_1 = pd.Series(data=[1.4, 4.5])
user_2 = pd.Series(data=[3.5, 9.1, 1.1, 9.0])
user_3 = pd.Series(data=[1.4, 5, np.nan, 4.2])
user_4 = pd.Series(data=[4, 3.5, 6, 8])

a_dict = {
    "Author": authors,
    "Book Title": books,
    "User_1": user_1,
    "User_2": user_2,
    "User_3": user_3,
    "User_4": user_4,
}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(a_dict)

# convert to numpy array (remove the column names, get just the values to convert it into a numpy array)
book_ratings_numpy = book_ratings.values
book_ratings_numpy

In [ ]:
# CReating a DataFrame from a dictionary
pd.DataFrame(
    {
        "column_x": ["value-x1", "value-x2", "value-x3"],
        "column_y": ["value-y1", "value-y2", "value-y3"],
    }
)

# creatign a DataFrame from a list of lists
pd.DataFrame(
    [["value_x1", "value_y1"], ["value_x2", "value_y2"], ["value_x3", "value_y3"]]
)

## Accessing Elements :---

In [ ]:
# Accessing elements :---
# Accesing via col-label
print("watches in each store:- \n", store_items2[["watches"]])
print("\nt-shirts & goggles in each store:- \n", store_items2[["t-shirts", "goggles"]])

# Accessing via row-label
print("\nItems in store-1:-\n", store_items2.loc[["store-1"]])

# Accessing via both row & col label
print("\nfull-shirts in store-1:", store_items2["full-shirts"]["store-1"])

# while accessing individual elements in a dataframe, the labels should always be provided with column label first, then row label
# i.e. in the form dataframe[column][row]

## Modify Elements :---

In [ ]:
# Modifying elements
# Adding new columns
# addin it to the end of the DF)
store_items2["suits"] = [22, 46]

# Adding new column via arithmatic operation between columns
store_items2["laptop"] = store_items2["suits"] + store_items2["watches"]

# Adding new row
# To add rows to our df, create a new df then concat it to the original df
# creating a dictoinary from a list of python dictionaries
new_items = [
    {
        "t-shirts": 20,
        "full-shirts": 8,
        "watches": 10,
        "bikes": 12,
        "goggles": 4,
        "suits": 71,
        "laptop": 21,
    }
]


# Now creating a new dataFrame with the new_items and providing index label as 'store_3
new_store = pd.DataFrame(new_items, index=["store-3"])

# concating store-3 to our store_items2 DataFrame
store_items2 = pd.concat([store_items2, new_store])

# inserting a new column with label bikes rigth before the column with numerical index 4
store_items2.insert(4, "cars", [2, 66, 5])

print(store_items2)

## Deleting Element :---

In [ ]:
# # Deleting element
# # .pop() method only allos us to delete columns, while .drop() method can be used to delete both rows and columns by use of the axis keyword

# # removing the t-shirts column
# store_items2.pop("t-shirts")

# # removing the full-shirts and bikes columns
# store_items2 = store_items2.drop(["goggles", "suits"], axis=1)

# # removing the store-2 & store-1 rows
# store_items2 = store_items2.drop(["store-2", "store-1"], axis=0)

## Rename the Row & Column labels :---

In [ ]:
# Renaming the row and column labels
# changing the column label
store_items2 = store_items2.rename(columns={"cars": "skateboards"})

# changing the row label
store_items2 = store_items2.rename(index={"store-3":"last-store"})
store_items2

## Change Index :---

In [ ]:
# Changing Index
# store_items2 = store_items2.set_index("store")

## Dealing with NaN values (missing data) :---

In [ ]:
# Dealing with NaN values (missing data)

# creating a list of python dictionaries
items2 = [
    {"bikes": 20, "pants": 30, "watches": 35, "shirts": 15, "shoes": 8, "suits": 45},
    {
        "watches": 10,
        "glasses": 50,
        "bikes": 15,
        "pants": 5,
        "shirts": 2,
        "shoes": 5,
        "suits": 7,
    },
    {"bikes": 20, "pants": 30, "watches": 35, "glasses": 4, "shoes": 10},
]

# Now creating a dataFrame and providing the row index
store_items = pd.DataFrame(items2, index=["store-1", "store-2", "store-3"])

# Checking if there are any NaN values in our dataset
# .any() performs an OR operation. If any of the values along the specified axis is True, this will return True .
store_items.isnull().any()
# output :---
"""
bikes      False
pants      False
watches    False
shirts      True
shoes      False
suits       True
glasses     True
dtype: bool
"""

# Counting the number of NaN values in DatFrame
numOfNaNs = store_items.isnull().sum().sum()

# Counting the number os non-NaN values in dataFrame
numOfNaNs = store_items.count()

# Removing rows & columns from our DataFrame that contain any NaN values

# Dropping any rows with NaN values
store_items.dropna(axis=0)

# dropping any columns with NaN values
store_items.dropna(axis=1)

# The original DataFrame is not modified by Default
# To remove missing values from original df, use inplace = True
store_items.dropna(axis=0, inplace=True)

# Replacing all NaN values with 0
store_items.fillna(0)

# FORWARD FILLING : replacing NaN values with previous values in the DF,
# When replacing NaN values with forward filling, we can user previous values taken from columns of rows.
# Replacing the values with the previous value in the colum
store_items.fillna(method="ffill", axis=0)

# BACKWARD FILLING : replacing the NaN values with the values that go after them in the DF
# Reaplcing NaN values with the next values in the row
store_items.fillna(method="backfill", axis=1)

# Replacing NaN values by using linear interpolation using column values
store_items.interpolate(method="linear", axis=0)

# The original DataFrame isn't modified
# Replacing the NaN values in place by setting inplace = True inside function
store_items.fillna(method="ffill", axis=0, inplace=True)
store_items.interpolate(method="linear", axis=0, inplace=True)

## head, tail, describe, max, memory_usage :---

In [ ]:
df.head()
df.tail()
df.describe()
df.max() # prints max value in each column

# Displaying the memory usage of a DataFrame
# total usage
df.info()

# usage by usage
df.memory_usage()

## corr

In [ ]:
# Getting the co-relation between different columns
df.corr()

## Groupby

In [ ]:
# Groupby
data.groupby(["Year"])
data.groupby(["Year"])["Salary"]

# display the average salary per year
data.groupby(["Year"])["Salary"].mean()

# display the total salary each employee received in all the years they worked for the company
data.groupby(["Name"])["Salary"].sum()

# group the data by Year and by Department
data.groupby(["Year", "Department"])["Salary"].sum()

## Replace Values

In [ ]:
# Replace Values
s = pd.Series(["cat", "dog", np.nan, "rabbit"])
s.map({"cat": "kitten", "dog": "puppy"})
# another e.g.
df["label"] = df["label"].map({"ham": 0, "spam": 1})

## Reading Files :--

In [ ]:
# reading in a file from local computer or directly from a URL

# various file formats that can be read in out wrote out
""" 
Format Type     Data Description      Reader           Writer
text                  CSV            read_csv          to_csv
text                 JSON            read_json         to_json
text                 HTML            read_html         to_html
text             Local clipboard  read_clipboard     to_clipboard
binary             MS Excel          read_excel        to_excel
binary            HDF5 Format        read_hdf           to_hdf
binary           Feather Format     read_feather      to_feather
binary              Msgpack         read_msgpack      to_msgpack
binary               Stata           read_stata        to_stata
binary                SAS             read_sas 
binary        Python Pickle Format   read_pickle       to_pickle
SQL                   SQL             read_sql          to_sql
SQL             Google Big Query      read_gbq          to_gbq
"""

# to read about different types of files, and further functionality of reading in files, visit: http://pandas.pydata.org/pandas-docs/version/0.20/io.html
df = pd.read_csv("./access-code-password-recovery-code.csv")
df = pd.read_csv("https://cdn.wsform.com/wp-content/uploads/2021/05/currency.csv")

# when reading in tables, can specify separators, and note a column to be used as index separators can include tabs (“\t”), commas(“,”), pipes (“|”), etc.
df = pd.read_table(
    "https://cdn.wsform.com/wp-content/uploads/2021/05/currency.csv", sep="|"
)
df

## Now we can do all the above DataFrame operations in the df created using csv file