In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    "Student":["Miku","Ravi","Simran"],
    "Marks":[88,92,79],
    "Passed":[True,True,False]
})
df

  Student  Marks  Passed
0    Miku     88    True
1    Ravi     92    True
2  Simran     79   False

In [6]:
df.shape
df.columns
df.describe()

           Marks
count   3.000000
mean   86.333333
std     6.658328
min    79.000000
25%    83.500000
50%    88.000000
75%    90.000000
max    92.000000